@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    font-family: 'Palanquin';
}

::selection {
    @apply bg-primary text-black;
}

.service-list-wrapper .bg-dark,
.bg-gradient-1,
.contact-wrapper,
.about-wrapper,
.bg-gradient-2, .bg-gradient-3 {
    box-sizing: content-box;
    position: relative;
}

.service-list-wrapper .bg-dark:after,
.bg-gradient-1:after,
.contact-wrapper:after,
.about-wrapper:after,
.bg-gradient-2:after, .bg-gradient-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 50px solid #fff;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
}

.bg-gradient-1:after,
.about-wrapper:after, .bg-gradient-3:after {
    top: auto;
    bottom: 0;
    border-bottom: 50px solid #fff;
    border-top: 50px !important;
}

.bg-gradient-2:after {
    top: 0;
    bottom: 0;
    height: 100%;
    border-bottom: 50px solid #fff;
    border-top: 50px solid #fff !important;
}

.about-wrapper:after {
    border-block-color: #f7f7f7;
}

.divider svg {
    display: block;
    width: calc(100%);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.divider .elementor-shape-fill {
    fill: rgba(190, 206, 97, .17);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.bg-gradient-1:before {
    background-color: transparent;
    background-image: linear-gradient(250deg, rgba(29, 29, 35, .6) 0%, #000000 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .75;
    content: '';
}

.bg-gradient-2:before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #030026 0%, rgba(29, 29, 35, .3) 100%);
    opacity: .8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
}

.bg-gradient-3:before {
    background-color: transparent;
    background-image: linear-gradient(180deg,#030026 0%,#000000 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .65;
    content: '';
}

.background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #030026 0%, #000000 100%);
    opacity: .65;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}